.input-field input {
  width: calc(100%-10px);
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(223, 234, 242, 1);
  margin-top: 10px;
  padding-left: 15px;
}
.input-field label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400px;
  line-height: 19.36px;
  text-align: left;
  color: rgba(35, 35, 35, 1);
}
.input-field {
  display: flex;
  flex-direction: column;
  width: 48%;
}
input:focus {
  outline: none;
}
