.toggle-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.toggle-button div {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  width: 50px;
  height: 26px;
  background-color: rgba(223, 234, 242, 1);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 1.9px;
  left: 3px;
  width: 22px;
  height: 22px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 70%;
  transition: transform 0.3s;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked {
  background-color: rgba(22, 219, 204, 1);
}

input[type="checkbox"]:checked::before {
  transform: translateX(23.5px);
}

.toggle-button label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400px;
  line-height: 19.36px;
  text-align: left;
  padding-left: 13px;
  padding-top: 7px;
  color: rgba(35, 35, 35, 1);
}
#two-factor-authentication-text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500px;
  line-height: 20.57px;
  text-align: left;
  color: rgba(51, 59, 105, 1);
  margin-bottom: 13px;
  display: inline-block;
}
