.app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

.app-main {
  margin: 100px 0 0 250px;
  background-color: #E6EFF5;
  width: calc(100% - 250px - 64px);
  height: calc(100vh - 100px - 64px);
  padding: 32px;
}

.app-card {
  background-color: white;
  border-radius: 16px;
  /* width: 100%; */
  /* height: 100%; */

  padding: 32px;
}


.form-group   label {
    margin-bottom: 8px;
    display: block;
}

.form-input {
  border: 2px #DFEAF2 solid;
  border-radius: 16px;
  padding: 20px;
}

.row {
  display: flex;
  gap: 32px;
}

.column {
  flex: 1
}

.settings {
  display: flex
}

.image-column {
  width: 200px;
}